# IntelliJ project files
.idea/
*.iml

# Maven build directory
target/

# Scala & SBT directories
project/target/
project/project/
.bsp/

# Scala build caches and streams
**/streams/
**/update_cache_2.12/
**/update_cache_2.13/

# VSCode (if someone opens with it)
.vscode/

# Spring Boot
*.pid
*.seed
*.pid.lock
